@inherits DisplayEmployeeBase

<div class="card m-3">
    <div class="card-header">
        <input type="checkbox" checked="@IsSelected" @onchange="CheckBoxChanged" />
        <h3>@Employee.FirstName @Employee.LastName</h3>
    </div>
    <img class="card-img-top imageThumbnail"
         src="@Employee.PhotoPath" />
    @if (Showfooter)
    {
        <div class="card-footer text-center">
            <a href="@($"employeedetails/{Employee.EmployeeId}")" class="btn btn-primary m-1">View</a>

            <a href="@($"editemployee/{Employee.EmployeeId}")" class="btn btn-primary m-1">Edit</a>

            <button class="btn btn-danger m-1" @onclick="Delete_Click">Delete</button>
        </div>
    }
</div>


